<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy Shop</title>
</head>
<body>
    <form onsubmit="addcandy(event)" >
        <label for="candyname">candyname</label>
        <input type="text" name="candyname">
        <label for="description">description</label>
        <input type="text" name="description">
        <label for="price">price</label>
        <input type="number" name="price">
        <label for="quantity">quantity</label>
        <input type="text" name="quantity">
        <button type="submit">Add-item</button>
    </form>

    <script src="./index.js"></script>
</body>
</html>